@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}
.collapse:not(.show){
  display: block !important;
}
.navbar-nav .dropdown-menu{
  position: absolute !important;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(1000px ,1fr));
}