@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
}

.collapse:not(.show){
  display: block !important;
}
.navbar-nav .dropdown-menu{
  position: absolute !important;
}
.card{
 width: auto;
 max-width: 20rem;
 height: auto;
 min-height: 20rem;
 max-height: 35.625rem;

}

.score {
  background-color: #ffd228;
  width: auto;
  height: auto;
}
